<%= form_for(@question) do |f| %>
  <% if @question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@question.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
      <% @question.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :level, "Poziom" %><br>
    <%= f.select :level, ['Początkujący', 'Zaawansowany'], {prompt: 'Wybierz poziom'} , :onchange => "chooseBranchLevel();"%>
  </div>

<script type="text/javascript">
  $(document).on('page:change', function () {
      chooseBranchLevel();
  });
  function chooseBranchLevel(){
    var branch_level = $("#question_level :selected").text();
    var level_beg_div = document.getElementById('level_beg');
    var level_adv_div = document.getElementById('level_adv');

    if(branch_level == "Początkujący"){
     $("#myForm").html('<%= j render :partial => 'beg', :locals => { :f => f }%>');
      
    }else if(branch_level == "Zaawansowany"){
      $("#myForm").html('<%= j render :partial => 'adv', :locals => { :f => f }%>');
      
      
    }
  }
  </script>

      <div id="myForm">
        
      </div>
       

      




  <div class="field">
    <%= f.label :text, "Treść" %><br>
    <%= f.text_area :text %>
  </div>
  <div class="field">
    <%= f.label :answer1, "Odpowiedź 1"%><br>
    <%= f.text_area :answer1 %>
  </div>
  <div class="field">
    <%= f.label :answer2 , "Odpowiedź 2"%><br>
    <%= f.text_area :answer2 %>
  </div>
  <div class="field">
    <%= f.label :answer3 , "Odpowiedź 3"%><br>
    <%= f.text_area :answer3 %>
  </div>
  <div class="field">
    <%= f.label :answer4 , "Odpowiedź 4"%><br>
    <%= f.text_area :answer4 %>
  </div>
  <div class="field">
    <%= f.label :answerR , "Odpowiedź poprawna"%><br>
    <%= f.text_area :answerR %>
  </div>
  <div class="actions">
    <%= f.submit class: 'btn btn-primary' %>
  </div>
<% end %>
