<h1>Listing questions</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Text</th>
      <th>Question1</th>
      <th>Question2</th>
      <th>Question3</th>
      <th>Question4</th>
      <th>Questionr</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @questions.each do |question| %>
      <tr>
        <td><%= question.title %></td>
        <td><%= question.text %></td>
        <td><%= question.question1 %></td>
        <td><%= question.question2 %></td>
        <td><%= question.question3 %></td>
        <td><%= question.question4 %></td>
        <td><%= question.questionR %></td>
        <td><%= link_to 'Show', question %></td>
        <td><%= link_to 'Edit', edit_question_path(question) %></td>
        <td><%= link_to 'Destroy', question, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Question', new_question_path %>
