<h1>Listing questions</h1>

<table class="table">
  <thead>
    <tr>
      <th>Branch</th>
      <th>Text</th>
      <th>Answer 1</th>
      <th>Answer 2</th>
      <th>Answer 3</th>
      <th>Answer 4</th>
      <th>Answer right</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @questions.each do |question| %>
      <tr>
        <td><%= question.branch %></td>
        <td><%= question.text %></td>
        <td><%= question.answer1 %></td>
        <td><%= question.answer2 %></td>
        <td><%= question.answer3 %></td>
        <td><%= question.answer4 %></td>
        <td><%= question.answerR %></td>
        <td><%= link_to 'Show', question %></td>
        <td><%= link_to 'Edit', edit_question_path(question) %></td>
        <td><%= link_to 'Destroy', question, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Question', new_question_path %>
