<h1>Lista pytań</h1>

<table class="table">
  <thead>
    <tr>     
      <th>Poziom</th>
      <th>Dział</th>
      <th>Treść</th>
      <th>Odpowiedź 1</th>
      <th>Odpowiedź 2</th>
      <th>Odpowiedź 3</th>
      <th>Odpowiedź 4</th>
      <th>Odpowiedź poprawna</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @questions.each do |question| %>
      <tr>
        <td><%= question.level %></td>
        <td><%= question.branch %></td>
        <td><%= question.text %></td>
        <td><%= question.answer1 %></td>
        <td><%= question.answer2 %></td>
        <td><%= question.answer3 %></td>
        <td><%= question.answer4 %></td>
        <td><%= question.answerR %></td>
        <td><%= link_to 'Pokaż', question %></td>
        <td><%= link_to 'Edytuj', edit_question_path(question) %></td>
        <td><%= link_to 'Usuń', question, method: :delete, data: { confirm: 'Czy na pewno?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<div align = "center">
  <%= paginate @questions %>
</div>
<br>
<%= link_to 'Nowe pytanie', new_question_path %>
