
<p>
  <strong>Poziom:</strong>
  <%= @question.level %>
</p>
<p>
  <strong>Dział:</strong>

  <%= @question.branch %>
</p>
<p>
  <strong>Treść:</strong>
  <%= @question.text %>
</p>

<p>
  <strong>Odpowiedź 1</strong>
  <br>
  <%= @question.answer1 %>
</p>

<p>
  <strong>Odpowiedź 2:</strong>
  <br>
  <%= @question.answer2 %>
</p>

<p>
  <strong>Odpowiedź 3:</strong>
  <br>
  <%= @question.answer3 %>
</p>

<p>
  <strong>Odpowidź 4:</strong>
  <br>
  <%= @question.answer4 %>
</p>

<p>
  <strong>Odpowiedź poprawna:</strong>
  <br>
  <%= @question.answerR %>
</p>

<%= link_to 'Edytuj', edit_question_path(@question) %> |
<%= link_to 'Wróć', questions_path %>
