%h2
	Porażenia prądem
%br
%h5 
	%b &emsp;Porażenia prądem
	są wywołanem wystawieniem organizmu na działanie bezpośredniego prądu elektrycznego.
	%br
	&emsp;Pierwsza pomoc w przypadku porażenia polega najpierw na zachowaniu własnego bezpieczeństwa, natychmiastowym wezwaniu pomocy,a następnie wyłączeniu źródła prądu.
	%br
	&emsp;Następnie należy opatrzyć rany oparzeniowe (porażenie prądem tworzy oparzenie wlotowe i wylotowe, wylotowe występuje najczęściej w miejscu kontaktu z ziemią).
	%br
	&emsp;Kolejnym krokiem jest stała kontrola czynności życiowych do przyjazdu pogotowia.
	%br
	&emsp;Podczas porażenia wystąpić mogą także pęcherze na skórze, zaburzenia rytmu serca.
	%br
	%br
	&emsp;Rozrozniamy porazenie pradem zmiennym i pradem staly.
	%br
	&emsp;Porazenie pradem zmiennym moze spowodowac migotwanie komor. Jest to bardziej niebezpieczne od porazenia pradem stalym.
	%br
	&emsp;Porazenie pradem stalym przy dlugotrwalym dzialaniu prowadzi do utraty przytomnosci i zatrzymania akcji serca.
	%br
	%br
	&emsp;W przypadku utraty oddechu osoby porazonej, nalezy przy zachowaniu bezpieczenstwa przeprowadzic RKO.
	
	%br
	%br
	%br
	%br

%h4
	Pytania testowe z działu Porażenia prądem
%br
= form_tag(check_answers_path, :method => :get) do
	#my{:style => "display:none"}
		= number_field_tag("q1_id", @questions[0].id)
		= number_field_tag("q2_id", @questions[1].id)
		= number_field_tag("q3_id", @questions[2].id)
		= number_field_tag("q4_id", @questions[3].id)
		= number_field_tag("q5_id", @questions[4].id)




	#pyt1
	%h4 
		Pytanie 1
		- q0 = @questions[0]
		


	%p
		%h4
			= q0.text
			- wr_answer_array = [q0.answer1, q0.answer2, q0.answer3, q0.answer4]
			- anserw_array = wr_answer_array.sample(3) <<q0.answerR
			- anserw_array.shuffle!
	%p
		%h5
			- (0..3).step(1)  do |l|
				= radio_button_tag "q1", anserw_array[l]
				= anserw_array[l]
				%br
	%br

	#pyt2
	%h4 
		Pytanie 2
		- q0 = @questions[1]
		


	%p
		%h4
			= q0.text
			- wr_answer_array = [q0.answer1, q0.answer2, q0.answer3, q0.answer4]
			- anserw_array = wr_answer_array.sample(3) <<q0.answerR
			- anserw_array.shuffle!
	%p
		%h5
			- (0..3).step(1)  do |l|
				= radio_button_tag "q2", anserw_array[l]
				= anserw_array[l]
				%br
	%br
	#pyt3
	%h4 
		Pytanie 3
		- q0 = @questions[2]
		


	%p
		%h4
			= q0.text
			- wr_answer_array = [q0.answer1, q0.answer2, q0.answer3, q0.answer4]
			- anserw_array = wr_answer_array.sample(3) <<q0.answerR
			- anserw_array.shuffle!
	%p
		%h5
			- (0..3).step(1)  do |l|
				= radio_button_tag "q3", anserw_array[l]
				= anserw_array[l]
				%br
	%br
	#pyt4
	%h4 
		Pytanie 4
		- q0 = @questions[3]
		


	%p
		%h4
			= q0.text
			- wr_answer_array = [q0.answer1, q0.answer2, q0.answer3, q0.answer4]
			- anserw_array = wr_answer_array.sample(3) <<q0.answerR
			- anserw_array.shuffle!
	%p
		%h5
			- (0..3).step(1)  do |l|
				= radio_button_tag "q4", anserw_array[l]
				= anserw_array[l]
				%br
	%br
	#pyt5
	%h4 
		Pytanie 5
		- q0 = @questions[4]
		


	%p
		%h4
			= q0.text
			- wr_answer_array = [q0.answer1, q0.answer2, q0.answer3, q0.answer4]
			- anserw_array = wr_answer_array.sample(3) <<q0.answerR
			- anserw_array.shuffle!
	%p
		%h5
			- (0..3).step(1)  do |l|
				= radio_button_tag "q5", anserw_array[l]
				= anserw_array[l]
				%br
		%br
	= submit_tag 'Submit'

