%h1 Kurs podstawowy
%h4
  W tym kursie zaznajomisz się z podstawową wiedzą dotyczącą pierwszej pomocy.
  %br
  Po przerobieniu bieżącego działu oraz odpowiedzeniu prawidłowo na pytania zwiazane z danym działem, możesz przejść do następnego działu.
  %br
  Po ukończeniu wszystkich działów odblokowana zostanie mozliwość przeegzaminowania swojej wiedzy z danego poziomu.
%br
%br
%table.table
  %tr
    %th Tytuł działu
    %th Czy ukończony?
    %th Przejdź do działu
    %th
    %th
    %th

  - (1..10).step(1) do |branch|
    %tr
      %td= @branch[branch-1]
      - if @user_branches_access[branch-1]
        %td Ukończony
      - else 
        %td Nieukończony
      
      - if branch == 1 
        %td= link_to 'Przejdź', beg_branch_security_path
        
      - elsif @user_branches_access[branch-2]
        - if @branch[branch-1] == "ABC, Wywiad środowiskowy"
          %td= link_to 'Przejdź', beg_branch_abc_sample_path
        - elsif @branch[branch-1] == "Krwotoki"
          %td= link_to 'Przejdź', beg_branch_bleeding_path
        - elsif @branch[branch-1] == "Omdlenia i utraty przytomności"
          %td= link_to 'Przejdź', beg_branch_consciousness_path
        - elsif @branch[branch-1] == "Oparzenia, odmrożenia"
          %td= link_to 'Przejdź', beg_branch_scald_frostbite_path
        - elsif @branch[branch-1] == "Hipotermia, hipertermia"
          %td= link_to 'Przejdź', beg_branch_hypothermia_hyperthermia_path
        - elsif @branch[branch-1] == "Urazy mechaniczne"
          %td= link_to 'Przejdź', beg_branch_mech_injury_path
        - elsif @branch[branch-1] == "Epilepsja"
          %td= link_to 'Przejdź', beg_branch_epilepsy_path
        - elsif @branch[branch-1] == "Zadławienia"
          %td= link_to 'Przejdź', beg_branch_choking_path
        - elsif @branch[branch-1] == "RKO"
          %td= link_to 'Przejdź', beg_branch_CPR_path
      - else  
        %td Ukończ poprzedni dział


%br

-if @user_progress_all.try(:p10?)
  - if @user_progress_all.try(:poczatkujacy?)
    %h4
      Ukończyłeś kurs i zdałeś egzamin, gratulacje! 
      %br
      Teraz możesz podejść do innych egzaminów z poziomu podstawowego
      = link_to 'tu', exam_list_path
      lub rozpocząć kurs zaawansowany 
      = link_to 'tutaj' , adv_course_index_path
  - else
    %h4
      Ukończyłeś wszystkie działy w kursie podstawowym! Gratulacje! 
      %br
      Teraz możesz podejść do egzaminu z poziomu postawowego.
      %br
      = link_to 'Przejdź do egzaminu', new_exam_answer_path(@exam.id), :class=>"btn btn-success"