%h1 Kurs podstawowy
%h4
  W tym kursie zaznajomisz się z podstawową wiedzą dotyczącą pierwszej pomocy.
  %br
  Po przerobieniu bieżącego działu oraz odpowiedzeniu prawidłowo na pytania zwiazane z danym działem, możesz przejść do następnego działu.
  %br
  Po ukończeniu wszystkich działów odblokowana zostanie mozliwość przeegzaminowania swojej wiedzy z danego poziomu.
%br
%br
%table.table
  %tr
    %th Tytuł działu
    %th Czy ukończony?
    %th Przejdź do działu
    %th
    %th
    %th

  - (1..10).step(1) do |branch|
    %tr
      %td= @branch[branch-1]
      - if @user_branches_access[branch-1]
        %td Ukończony
      - else 
        %td Nieukończony
      - if branch == 1 
        %td= link_to 'Przejdź', branch_security_path
      - elsif @user_branches_access[branch-2]
        %td Przejdź
      - else  
        %td Ukończ poprzedni dział


%br

-if @user_progress_all.try(:p10?)
  - if @user_progress_all.try(:poczatkujacy?)
    %h4
      Ukończyłeś kurs i zdałeś egzamin, gratulacje! 
      %br
      Teraz możesz podejść do innych egzaminów z poziomu podstawowego
      = link_to 'tu', exam_list_path
      lub rozpocząć kurs zaawansowany 
      = link_to 'tutaj' , adv_course_index_path
  - else
    %h4
      Ukończyłeś wszystkie działy w kursie podstawowym! Gratulacje! 
      %br
      Teraz możesz podejść do egzaminu z poziomu postawowego.
      %br
      = link_to 'Przejdź do egzaminu', new_exam_answer_path(@exam.id), :class=>"btn btn-success"