%h2
	Urazy mechaniczne
%br
%h5 
	%b &emsp;Skręcenie
	jest to gwałtowny, "nienaturalny" ruch stawu, nadmierne rozciągnięcie, naderwanie lub nawet zerwanie więzadeł stawów.
	%br
	&emsp;Może prowadzić do uszkodzenia torebki stawowej, chrząstek, a nawet kości. Urazowi towarzyszy obrzek, ból, organiczenie ruchów.
	%br
	&emsp;Po skręceniu kontakt z lekarzem nie jest niezbędny natychmiastowo, lecz zalecany, gdyż nieleczone skręcenie może spowodować groźne i trwałe uszkodzenia stawu.
	%br
	%br
	&emsp;W przypadku skręcenia stawu zaleca się zastosowanie zimnego okładu, oraz usztywnienie bandażem elastycznym.
	%br
	%br
	%br
	%b &emsp;Zwichnięcie
	jest wtedy, kiedy kość na stałe zmieni swoje położenie w stawie. Zmienia się wtedy kształt stawu, anstępuje obrzęk i bardzo silny ból.
	%br
	&emsp;Najczęściej zwichnięciu ulegają stawy ramion, palców, dłoni, biodra. 
	%br
	&emsp;Należy pamiętać że zwichnięcia 
	%b nigdy nie należy 
	nastawiać samemu. Każde zwichnięcie musi być nastawione, dlatego wymagana jest szybka wizyta w szpitalu bądź u lekarza.
	%br
	&emsp;Przy zwichnięciu należy przed transportem do lekarza usztywnić kończynę, zastosować zimny okład.
	%br
	%br
	%br
	%b &emsp;Złamania
	kości mogą być spowodowane silnym urazem. Rozróznia się złamania
	%b zamknięte i otwarte.
	%br
	%br
	%b &emsp;Złamanie zamknięte -
	skóra pozostaje nie naruszona, kontuzji towarzyszy silny bół oraz widoczne odkształcenie pod skóra. Może spowodować krwotok wewnętrzny.
	%br
	%br
	%b &emsp;Złamanie otwarte -
	o wiele bardziej groźne od złamania zamkniętego, widoczne są kości wystające z rany. Towarzyszy mu silny bół oraz krwawienie.
	%br
	&emsp;W przypadku złamania otwartego może dojść do infekcji, dlatego należy jak najszybciej przetransportować poszkodowanego do szpitala.
	%br
	%br
	&emsp;W obu przypadkach zaleca sie usztywnienie złamanej kończyny przed transportem, a w przypadku złamania otwartego także zatamowanie krwawienia.
	%br
	%br
	%br
	&emsp;Przy uszkodzeniu kości należy usztywnić dwa sąsiednie stawy, zaś przy uszkodzeniu stawu należy usztywnić dwie sąsiednie kości.
	%br

	%br
	%br

	%br

%h4
	Pytania testowe z działu Urazy mechaniczne
%br
= form_tag(check_answers_path, :method => :get) do
	#my{:style => "display:none"}
		= number_field_tag("q1_id", @questions[0].id)
		= number_field_tag("q2_id", @questions[1].id)
		= number_field_tag("q3_id", @questions[2].id)
		= number_field_tag("q4_id", @questions[3].id)
		= number_field_tag("q5_id", @questions[4].id)



	%br
	#pyt1
	%h4 
		Pytanie 1
		- q0 = @questions[0]
		


	%p
		%h4
			= q0.text
			- wr_answer_array = [q0.answer1, q0.answer2, q0.answer3, q0.answer4]
			- anserw_array = wr_answer_array.sample(3) <<q0.answerR
			- anserw_array.shuffle!
	%p
		%h5
			- (0..3).step(1)  do |l|
				= radio_button_tag "q1", anserw_array[l]
				= anserw_array[l]
				%br
	%br

	#pyt2
	%h4 
		Pytanie 2
		- q0 = @questions[1]
		


	%p
		%h4
			= q0.text
			- wr_answer_array = [q0.answer1, q0.answer2, q0.answer3, q0.answer4]
			- anserw_array = wr_answer_array.sample(3) <<q0.answerR
			- anserw_array.shuffle!
	%p
		%h5
			- (0..3).step(1)  do |l|
				= radio_button_tag "q2", anserw_array[l]
				= anserw_array[l]
				%br
	%br
	#pyt3
	%h4 
		Pytanie 3
		- q0 = @questions[2]
		


	%p
		%h4
			= q0.text
			- wr_answer_array = [q0.answer1, q0.answer2, q0.answer3, q0.answer4]
			- anserw_array = wr_answer_array.sample(3) <<q0.answerR
			- anserw_array.shuffle!
	%p
		%h5
			- (0..3).step(1)  do |l|
				= radio_button_tag "q3", anserw_array[l]
				= anserw_array[l]
				%br
	%br
	#pyt4
	%h4 
		Pytanie 4
		- q0 = @questions[3]
		


	%p
		%h4
			= q0.text
			- wr_answer_array = [q0.answer1, q0.answer2, q0.answer3, q0.answer4]
			- anserw_array = wr_answer_array.sample(3) <<q0.answerR
			- anserw_array.shuffle!
	%p
		%h5
			- (0..3).step(1)  do |l|
				= radio_button_tag "q4", anserw_array[l]
				= anserw_array[l]
				%br
	%br
	#pyt5
	%h4 
		Pytanie 5
		- q0 = @questions[4]
		


	%p
		%h4
			= q0.text
			- wr_answer_array = [q0.answer1, q0.answer2, q0.answer3, q0.answer4]
			- anserw_array = wr_answer_array.sample(3) <<q0.answerR
			- anserw_array.shuffle!
	%p
		%h5
			- (0..3).step(1)  do |l|
				= radio_button_tag "q5", anserw_array[l]
				= anserw_array[l]
				%br
		%br
	= submit_tag 'Submit'

