%h2
	Zadławienia
%br
%h5 
	%b &emsp;Zadławienie
	jest to stan, gdy ciało obce utknie w przełyku poszkodowanego.
	%br
	&emsp;Jest to groźny stan, który szybko może przerodzić się w brak oddechu, a następnie skutkować śmiercią.
	%br
	%br
	&emsp;Na początku widząc osobę dłąwiącą się należy zachęcić ją do samodzielnej próby pozbycia się ciała obcego z przełyku,
	%br
	&emsp;na przykład poprzez wykaszlnięcie. Jeżeli to zawiedzie, należy zastosować algorytm zadławienia, który polega 
	%b na  przemiennych 5 uderzeniach w plecy, w przestrzeń między łopatkami,
	%br
	%b &emsp;oraz 5 uciśnięciach nadbrzusza.
	Algorytm stosuje się aż do skutku, albo utraty przytomności i oddechu.
	%br
	%br
	&emsp;Efektem tego zabiegu ma być pozbycie się ciała obcego z przełyku albo poprzez wykaszlnięcie, albo poprzez wpadnięcie do płuca.
	%br
	&emsp;Wtedy jedno płuco nadal działa, jednak potrzebny jest natychmiastowy kontakt z lekarzem i operacjyjne wyjęcie przedmiotu z płuca.
	%br
	%br

	&emsp;W przypadku kiedy osoba dławiąca się utraci przytomność i oddech, należy natychmiast wezwać pogotowie, a następnie przeprowadzić resuscytację,
	%br
	&emsp;podczas której przed każdym wdechem należy sprawdzić czy ciało obce pojawiło się w jamie ustnej. Jeżeli tak, należy je wyjąć.
	%br
	&emsp;Nie należy podejmować prób wyjęcia ciała obcego z przełyku. U małych dzieci i niemowląt nie należy także wyjmować ciała obcego z jamy ustnej. 

	%br
	%br
	%br

%h4
	Pytania testowe z działu Zadławienia
%br
= form_tag(check_answers_path, :method => :get) do
	#my{:style => "display:none"}
		= number_field_tag("q1_id", @questions[0].id)
		= number_field_tag("q2_id", @questions[1].id)
		= number_field_tag("q3_id", @questions[2].id)
		= number_field_tag("q4_id", @questions[3].id)
		= number_field_tag("q5_id", @questions[4].id)




	#pyt1
	%h4 
		Pytanie 1
		- q0 = @questions[0]
		


	%p
		%h4
			= q0.text
			- wr_answer_array = [q0.answer1, q0.answer2, q0.answer3, q0.answer4]
			- anserw_array = wr_answer_array.sample(3) <<q0.answerR
			- anserw_array.shuffle!
	%p
		%h5
			- (0..3).step(1)  do |l|
				= radio_button_tag "q1", anserw_array[l]
				= anserw_array[l]
				%br
	%br

	#pyt2
	%h4 
		Pytanie 2
		- q0 = @questions[1]
		


	%p
		%h4
			= q0.text
			- wr_answer_array = [q0.answer1, q0.answer2, q0.answer3, q0.answer4]
			- anserw_array = wr_answer_array.sample(3) <<q0.answerR
			- anserw_array.shuffle!
	%p
		%h5
			- (0..3).step(1)  do |l|
				= radio_button_tag "q2", anserw_array[l]
				= anserw_array[l]
				%br
	%br
	#pyt3
	%h4 
		Pytanie 3
		- q0 = @questions[2]
		


	%p
		%h4
			= q0.text
			- wr_answer_array = [q0.answer1, q0.answer2, q0.answer3, q0.answer4]
			- anserw_array = wr_answer_array.sample(3) <<q0.answerR
			- anserw_array.shuffle!
	%p
		%h5
			- (0..3).step(1)  do |l|
				= radio_button_tag "q3", anserw_array[l]
				= anserw_array[l]
				%br
	%br
	#pyt4
	%h4 
		Pytanie 4
		- q0 = @questions[3]
		


	%p
		%h4
			= q0.text
			- wr_answer_array = [q0.answer1, q0.answer2, q0.answer3, q0.answer4]
			- anserw_array = wr_answer_array.sample(3) <<q0.answerR
			- anserw_array.shuffle!
	%p
		%h5
			- (0..3).step(1)  do |l|
				= radio_button_tag "q4", anserw_array[l]
				= anserw_array[l]
				%br
	%br
	#pyt5
	%h4 
		Pytanie 5
		- q0 = @questions[4]
		


	%p
		%h4
			= q0.text
			- wr_answer_array = [q0.answer1, q0.answer2, q0.answer3, q0.answer4]
			- anserw_array = wr_answer_array.sample(3) <<q0.answerR
			- anserw_array.shuffle!
	%p
		%h5
			- (0..3).step(1)  do |l|
				= radio_button_tag "q5", anserw_array[l]
				= anserw_array[l]
				%br
		%br
	= submit_tag 'Submit'

