%h2
	Hipotermia, hipertermia
%br
%h5 
	%b &emsp;Hipotermia
	jest to stan wychłodzenia organizmu, gdy temperatura ciała spada poniżej 36 stopni celcjusza.
	%br
	%br
	&emsp;Silne wychłodzenie organizmu może prowadzic nawet do śmierci.
	%br
	&emsp;Przyczyną hipotermi najczęściej jest zbyt długie przebywanie na mrozie lub w zimnej wodzie.
	%br
	%br
	%b &emsp;Objawami hipotermii mogą być:
	%br
	&emsp;&emsp;Dreszcze
	%br
	&emsp;&emsp;Zimne ręce
	%br
	&emsp;&emsp;Drżenie mięśni
	%br
	&emsp;&emsp;Osłabienie
	%br
	&emsp;&emsp;Zawroty głowy, dezorientacja
	%br
	&emsp;&emsp;Zaburzenia mowy, świadomości
	%br
	%br
	&emsp;W przypadku hipotermii należy zaprowadzić poszkodowanego do suchego i ciepłego pomieszczenia, wymienić odzież na suchą oraz podać ciepły napój.
	%br
	&emsp;Można także przykryć poszkodowanego kocem termicznym, złotą stroną do góry. Przy bardzo mocnym wychłodzeniu należy wezwac pogotowie.
	%br
	&emsp;Należy pamietać, że przy wychłodzeniu poprzez przebywanie w zimnej wodzie nie należy zdejmować mokrych ubrać na mrozie.
	%br
	%br
	%br
	%b &emsp;Hipertermia
	jest to stan przegrzania organizmu. Jest to poważny stan, który nie leczony może doprowadzić do udaru cieplego.
	%br
	&emsp;Szczególnie narażone na hipertermie są dzieci i osoby starsze.
	%br
	%br
	%b &emsp;Objawami hipertermi mogą być:
	%br
	&emsp;&emsp;Osłabienie organizmu
	%br
	&emsp;&emsp;Bóle i zawroty głowy
	%br
	&emsp;&emsp;Nudności, wymioty
	%br
	&emsp;&emsp;Zaburzenia świadomości, widzenia
	%br
	&emsp;&emsp;Utrata przytomności
	%br
	%br
	&emsp;Postępowaniem w przypadku przegrzania jest zaprowadzenie osoby poszkodowanej do cienia, podanie chłodnego napoju. r
	%br
	&emsp;Mozna także przykryć poszkodowanego kocem termicznym, srebrną stroną do góry.
	%br
	%br
	&emsp;Do hipertermii może także dojść w czasie gorących kąpieli, łaźniach, a także różnych miejsach z gorącym, dusznym i wiglotnym powietrzem. 
	%br
	&emsp;W takim wypadku należy wyprowadzić poszkodowanego na świeże powietrze, podac chłodny napój.
	%br
	&emsp;Przy utracie przytomności nalezy natychmiast wezwać pogotowie.
	%br
	%br
	%br

%h4
	Pytania testowe z działu Hipotermia, hipertermia
%br
= form_tag(check_answers_path, :method => :get) do
	#my{:style => "display:none"}
		= number_field_tag("q1_id", @questions[0].id)
		= number_field_tag("q2_id", @questions[1].id)
		= number_field_tag("q3_id", @questions[2].id)
		= number_field_tag("q4_id", @questions[3].id)
		= number_field_tag("q5_id", @questions[4].id)




	#pyt1
	%h4 
		Pytanie 1
		- q0 = @questions[0]
		


	%p
		%h4
			= q0.text
			- wr_answer_array = [q0.answer1, q0.answer2, q0.answer3, q0.answer4]
			- anserw_array = wr_answer_array.sample(3) <<q0.answerR
			- anserw_array.shuffle!
	%p
		%h5
			- (0..3).step(1)  do |l|
				= radio_button_tag "q1", anserw_array[l]
				= anserw_array[l]
				%br
	%br

	#pyt2
	%h4 
		Pytanie 2
		- q0 = @questions[1]
		


	%p
		%h4
			= q0.text
			- wr_answer_array = [q0.answer1, q0.answer2, q0.answer3, q0.answer4]
			- anserw_array = wr_answer_array.sample(3) <<q0.answerR
			- anserw_array.shuffle!
	%p
		%h5
			- (0..3).step(1)  do |l|
				= radio_button_tag "q2", anserw_array[l]
				= anserw_array[l]
				%br
	%br
	#pyt3
	%h4 
		Pytanie 3
		- q0 = @questions[2]
		


	%p
		%h4
			= q0.text
			- wr_answer_array = [q0.answer1, q0.answer2, q0.answer3, q0.answer4]
			- anserw_array = wr_answer_array.sample(3) <<q0.answerR
			- anserw_array.shuffle!
	%p
		%h5
			- (0..3).step(1)  do |l|
				= radio_button_tag "q3", anserw_array[l]
				= anserw_array[l]
				%br
	%br
	#pyt4
	%h4 
		Pytanie 4
		- q0 = @questions[3]
		


	%p
		%h4
			= q0.text
			- wr_answer_array = [q0.answer1, q0.answer2, q0.answer3, q0.answer4]
			- anserw_array = wr_answer_array.sample(3) <<q0.answerR
			- anserw_array.shuffle!
	%p
		%h5
			- (0..3).step(1)  do |l|
				= radio_button_tag "q4", anserw_array[l]
				= anserw_array[l]
				%br
	%br
	#pyt5
	%h4 
		Pytanie 5
		- q0 = @questions[4]
		


	%p
		%h4
			= q0.text
			- wr_answer_array = [q0.answer1, q0.answer2, q0.answer3, q0.answer4]
			- anserw_array = wr_answer_array.sample(3) <<q0.answerR
			- anserw_array.shuffle!
	%p
		%h5
			- (0..3).step(1)  do |l|
				= radio_button_tag "q5", anserw_array[l]
				= anserw_array[l]
				%br
		%br
	= submit_tag 'Submit'

