%h2
	RKO
%br
%h5 
	%b &emsp;Resuscytacja krążeniowo-oddechowa
	jest zabieg, który stosuje się w przypadku braku oddechu poszkodowanego.
	%br
	%br
	&emsp;Resuscytacja ma na celu utrzymanie życia poszkodowanego do przyjazdu karetki. Resuscytacja ma tylko około 1% szans na przywrócenie oddechu.
	%br
	&emsp;Ważne jest, żeby przed sprawdzeniem oddechu udrożnić drogi oddechowe, żeby nie przeprowadzić RKO na osobie która oddycha, 
	%br
	&emsp;a ratujący tego nie wyczuł, gdyż może to spowodować utratę tego oddechu.
	%br
	%br
	&emsp;Na początku należy pozbyć się wszelkich elementów które mogą uczynić RKO nieskutecznym, jak gruba kurtka, odzież na szyji, twardy biustonosz itp.
	%br
	&emsp;Następnie jeżeli poszkodowanym jest topielec, dziecko lub niemowle, należy przeprowadzić 
	%b 5 oddechów wstepnych,
	a następnie kontynuować normalną resuscytację.
	%br
	%br
	&emsp;Jeżeli nie posiadamy maseczki do sztucznego oddychania, i brzydzimy się wykonywać wdechy ratownicze, dopuszczalne jest przeprowadzanie jedynie uciśnięć.
	%br
	%br
	%b &emsp;Algorytm RKO
	%br
	&emsp;&emsp;- Rozpoczynamy resuscytacje przeprowadzając 
	%b 30 uciśnięć klatki piersiowej na wysokości mostku.
	Ważne żeby pozycja ratownika była stabilna, a łokcie wyprostowane.
	%br
	%br
	&emsp;&emsp;- Następnie po 30 uciśnięciach należy wykonać 
	%b 2 wdechy ratownicze. 
	%br
	&emsp;&emsp; Żeby przeprowadzić wdechy należy udrożnić drogi oddechowe oraz zatkać nos poszkodowanego, a nastepnie wykonać wentylację usta-usta, albo usta-nos.
	%br
	&emsp;&emsp; Jeżeli jeden z nich był nieskuteczny, należy go powtórzyć, ale nie więcej niż raz.
	%br
	%br
	&emsp;&emsp;- Powtarzamy czynności 4 razy, po 4 razach należy sprawdzić oddech, jeżeli oddech nie jest obecny, kontynuować następne 4 razy.
	%br
	%br
	&emsp;Resuscytację prowadzi się do momentu:
	%br
	&emsp;&emsp;- Przyjazdu pogotowia
	%br
	&emsp;&emsp;- Niebezpieczeństwa
	%br
	&emsp;&emsp;- Dużego zmęczenia ratującego
	%br
	&emsp;&emsp;- Powrotu oddechu
	%br
	%br
	&emsp;W przypadku resuscytacji osoby zadławionej, należy przed każdymi wdechami sprawdzić jamę ustną poszkodowanego, czy ciało obce nie dostało się do jamy ustnej.


	%br
	%br
	%br

%h4
	Pytania testowe z działu RKO
%br
= form_tag(check_answers_path, :method => :get) do
	#my{:style => "display:none"}
		= number_field_tag("q1_id", @questions[0].id)
		= number_field_tag("q2_id", @questions[1].id)
		= number_field_tag("q3_id", @questions[2].id)
		= number_field_tag("q4_id", @questions[3].id)
		= number_field_tag("q5_id", @questions[4].id)




	#pyt1
	%h4 
		Pytanie 1
		- q0 = @questions[0]
		


	%p
		%h4
			= q0.text
			- wr_answer_array = [q0.answer1, q0.answer2, q0.answer3, q0.answer4]
			- anserw_array = wr_answer_array.sample(3) <<q0.answerR
			- anserw_array.shuffle!
	%p
		%h5
			- (0..3).step(1)  do |l|
				= radio_button_tag "q1", anserw_array[l]
				= anserw_array[l]
				%br
	%br

	#pyt2
	%h4 
		Pytanie 2
		- q0 = @questions[1]
		


	%p
		%h4
			= q0.text
			- wr_answer_array = [q0.answer1, q0.answer2, q0.answer3, q0.answer4]
			- anserw_array = wr_answer_array.sample(3) <<q0.answerR
			- anserw_array.shuffle!
	%p
		%h5
			- (0..3).step(1)  do |l|
				= radio_button_tag "q2", anserw_array[l]
				= anserw_array[l]
				%br
	%br
	#pyt3
	%h4 
		Pytanie 3
		- q0 = @questions[2]
		


	%p
		%h4
			= q0.text
			- wr_answer_array = [q0.answer1, q0.answer2, q0.answer3, q0.answer4]
			- anserw_array = wr_answer_array.sample(3) <<q0.answerR
			- anserw_array.shuffle!
	%p
		%h5
			- (0..3).step(1)  do |l|
				= radio_button_tag "q3", anserw_array[l]
				= anserw_array[l]
				%br
	%br
	#pyt4
	%h4 
		Pytanie 4
		- q0 = @questions[3]
		


	%p
		%h4
			= q0.text
			- wr_answer_array = [q0.answer1, q0.answer2, q0.answer3, q0.answer4]
			- anserw_array = wr_answer_array.sample(3) <<q0.answerR
			- anserw_array.shuffle!
	%p
		%h5
			- (0..3).step(1)  do |l|
				= radio_button_tag "q4", anserw_array[l]
				= anserw_array[l]
				%br
	%br
	#pyt5
	%h4 
		Pytanie 5
		- q0 = @questions[4]
		


	%p
		%h4
			= q0.text
			- wr_answer_array = [q0.answer1, q0.answer2, q0.answer3, q0.answer4]
			- anserw_array = wr_answer_array.sample(3) <<q0.answerR
			- anserw_array.shuffle!
	%p
		%h5
			- (0..3).step(1)  do |l|
				= radio_button_tag "q5", anserw_array[l]
				= anserw_array[l]
				%br
		%br
	= submit_tag 'Submit'

