.field
  = f.label :question1, "Pytanie z zawałów"
  %br
  = select(:question1, :id, Question.where(level: 'Advanced' , branch: 'Zawały').collect {|p| [ p.text, p.id ] }, {prompt: 'Wybierz pytanie'})
.field
  = f.label :question2, "Pytanie z zatruć"
  %br
  = select(:question2, :id, Question.where(level: 'Advanced' , branch: 'Zatrucia').collect {|p| [ p.text, p.id ] }, {prompt: 'Wybierz pytanie'})
.field
  = f.label :question3, "Pytanie z ciała obcego w ciele"
  %br
  = select(:question3, :id, Question.where(level: 'Advanced', branch: 'Ciało obce w ciele').collect {|p| [ p.text, p.id ] }, {prompt: 'Wybierz pytanie'})
.field
  = f.label :question4, "Pytanie z AED"
  %br
  = select(:question4, :id, Question.where(level: 'Advanced' , branch: 'AED').collect {|p| [ p.text, p.id ] }, {prompt: 'Wybierz pytanie'})
.field
  = f.label :question5, "Pytanie z porażeń prądem"
  %br
  = select(:question5, :id, Question.where(level: 'Advanced' , branch: 'Porażenia prądem').collect {|p| [ p.text, p.id ] }, {prompt: 'Wybierz pytanie'})
.field
  = f.label :question6, "Pytanie z ciśnienia i tętna"
  %br
  = select(:question6, :id, Question.where(level: 'Advanced' , branch: 'Ciśnienie i tętno').collect {|p| [ p.text, p.id ] }, {prompt: 'Wybierz pytanie'})
.field
  = f.label :question7, "Pytanie z udarów"
  %br
  = select(:question7, :id, Question.where(level: 'Advanced' , branch: 'Udary').collect {|p| [ p.text, p.id ] }, {prompt: 'Wybierz pytanie'})
.field
  = f.label :question8, "Pytanie z cukrzycy"
  %br
  = select(:question8, :id, Question.where(level: 'Advanced' , branch: 'Cukrzyca').collect {|p| [ p.text, p.id ] }, {prompt: 'Wybierz pytanie'})
.field
  = f.label :question9, "Pytanie z odmy płucnej"
  %br
  = select(:question9, :id, Question.where(level: 'Advanced' , branch: 'Odma płucna').collect {|p| [ p.text, p.id ] }, {prompt: 'Wybierz pytanie'})
.field
  = f.label :question10, "Pytanie z wstrząsów"
  %br
  = select(:question10, :id, Question.where(level: 'Advanced' , branch: 'Wstrząsy').collect {|p| [ p.text, p.id ] }, {prompt: 'Wybierz pytanie'})