.field
  = f.label :question1, "Pytanie z zawałów"
  %br
  = f.select(:question1,  Question.where(level: 'Zaawansowany' , branch: 'Zawały').collect {|p| [ p.text, p.id ] }, {prompt: 'Wybierz pytanie'})
.field
  = f.label :question2, "Pytanie z zatruć"
  %br
  = f.select(:question2,  Question.where(level: 'Zaawansowany' , branch: 'Zatrucia').collect {|p| [ p.text, p.id ] }, {prompt: 'Wybierz pytanie'})
.field
  = f.label :question3, "Pytanie z ciała obcego w ciele"
  %br
  = f.select(:question3,  Question.where(level: 'Zaawansowany', branch: 'Ciało obce w ciele').collect {|p| [ p.text, p.id ] }, {prompt: 'Wybierz pytanie'})
.field
  = f.label :question4, "Pytanie z AED"
  %br
  = f.select(:question4,  Question.where(level: 'Zaawansowany' , branch: 'AED').collect {|p| [ p.text, p.id ] }, {prompt: 'Wybierz pytanie'})
.field
  = f.label :question5, "Pytanie z porażeń prądem"
  %br
  = f.select(:question5,  Question.where(level: 'Zaawansowany' , branch: 'Porażenia prądem').collect {|p| [ p.text, p.id ] }, {prompt: 'Wybierz pytanie'})
.field
  = f.label :question6, "Pytanie z ciśnienia i tętna"
  %br
  = f.select(:question6,  Question.where(level: 'Zaawansowany' , branch: 'Ciśnienie i tętno').collect {|p| [ p.text, p.id ] }, {prompt: 'Wybierz pytanie'})
.field
  = f.label :question7, "Pytanie z udarów"
  %br
  = f.select(:question7,  Question.where(level: 'Zaawansowany' , branch: 'Udary').collect {|p| [ p.text, p.id ] }, {prompt: 'Wybierz pytanie'})
.field
  = f.label :question8, "Pytanie z cukrzycy"
  %br
  = f.select(:question8,  Question.where(level: 'Zaawansowany' , branch: 'Cukrzyca').collect {|p| [ p.text, p.id ] }, {prompt: 'Wybierz pytanie'})
.field
  = f.label :question9, "Pytanie z odmy płucnej"
  %br
  = f.select(:question9,  Question.where(level: 'Zaawansowany' , branch: 'Odma płucna').collect {|p| [ p.text, p.id ] }, {prompt: 'Wybierz pytanie'})
.field
  = f.label :question10, "Pytanie z wstrząsów"
  %br
  = f.select(:question10,  Question.where(level: 'Zaawansowany' , branch: 'Wstrząsy').collect {|p| [ p.text, p.id ] }, {prompt: 'Wybierz pytanie'})