.field
  = f.label :question1, "Pytanie z bezpieczeństwa"
  %br
  = f.select(:question1, Question.all.where(level: 'Początkujący', branch: 'Bezpieczeństwo').collect {|p| [ p.text, p.id ] }, {prompt: 'Wybierz pytanie'})
.field
  = f.label :question2, "Pytanie z ABC i wywiadu środowiskowego"
  %br
  = f.select(:question2, Question.where(level: 'Początkujący', branch: 'ABC, Wywiad środowiskowy').collect {|p| [ p.text, p.id ] }, {prompt: 'Wybierz pytanie'})
.field
  = f.label :question3, "Pytanie z krwotokow"
  %br
  = f.select(:question3, Question.where(level: 'Początkujący' , branch: 'Krwotoki').collect {|p| [ p.text, p.id ] }, {prompt: 'Wybierz pytanie'})
.field
  = f.label :question4, "Pytanie z omdleń i utrat przytomności"
  %br
  = f.select(:question4, Question.where(level: 'Początkujący' , branch: 'Omdlenia i utraty przytomności').collect {|p| [ p.text, p.id ] }, {prompt: 'Wybierz pytanie'})
.field
  = f.label :question5, "Pytanie z oparzeń i odmrożeń"
  %br
  = f.select(:question5, Question.where(level: 'Początkujący' , branch: 'Oparzenia, odmrożenia').collect {|p| [ p.text, p.id ] }, {prompt: 'Wybierz pytanie'})
.field
  = f.label :question6, "Pytanie z hipotermii i hipertermii"
  %br
  = f.select(:question6, Question.where(level: 'Początkujący' , branch: 'Hipotermia, hipertermia').collect {|p| [ p.text, p.id ] }, {prompt: 'Wybierz pytanie'})
.field
  = f.label :question7, "Pytanie z urazów mechanicznych"
  %br
  = f.select(:question7, Question.where(level: 'Początkujący' , branch: 'Urazy mechaniczne').collect {|p| [ p.text, p.id ] }, {prompt: 'Wybierz pytanie'})
.field
  = f.label :question8, "Pytanie z ataków epilepsji"
  %br
  = f.select(:question8, Question.where(level: 'Początkujący' , branch: 'Epilepsja').collect {|p| [ p.text, p.id ] }, {prompt: 'Wybierz pytanie'})
.field
  = f.label :question9, "Pytanie z zadławień"
  %br
  = f.select(:question9, Question.where(level: 'Początkujący' , branch: 'Zadławienia').collect {|p| [ p.text, p.id ] }, {prompt: 'Wybierz pytanie'})
.field
  = f.label :question10, "Pytanie z RKO"
  %br
  = f.select(:question10, Question.where(level: 'Początkujący' , branch: 'RKO').collect {|p| [ p.text, p.id ] }, {prompt: 'Wybierz pytanie'})