= form_for @exam do |f|
  - if @exam.errors.any?
    #error_explanation
      %h2= "#{pluralize(@exam.errors.count, "error")} prohibited this exam from being saved:"
      %ul
        - @exam.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :title
    = f.text_field :title
  .field
    = f.label :text
    = f.text_area :text
  .field
    = f.label :level
    = f.select :level, ['Beginner', 'Advanced'], {prompt: 'Select level'}, :onchange => "chooseBranchLevel();"

  :javascript
    function chooseBranchLevel(){
      var branch_level = $("#exam_level :selected").text();
      var level_beg_div = document.getElementById('level_beg');
      var level_adv_div = document.getElementById('level_adv');

      if(branch_level == "Beginner"){
       $("#myForm").html('#{j render :partial => 'beg', :locals => { :f => f }}');
        
      }else if(branch_level == "Advanced"){
        $("#myForm").html('#{j render :partial => 'adv', :locals => { :f => f }}');
        
        
      }
    }
  #myForm
  
  .field
    = f.label :points
    = f.number_field :points
  .actions
    = f.submit 'Save'
