%h1 Lista egzaminów
%br

%h5
  Wygeneruj egzamin z losowymi pytaniami z poziomu
  = form_tag(new_random_exam_path, :method => :get)
  = select_tag :exam_level, options_for_select(['Początkujący', 'Zaawansowany']), prompt: 'Wybierz poziom'
  %td= submit_tag 'Wygeneruj' 
%br
%table.table
  %tr
    %th Tytuł
    %th Opis
    %th Poziom
    %th Ilość punktów
    %th Podejdź do egzaminu


  - i = 0
  - @exams.each do |exam|
    %tr
      %td= exam.title
      %td= exam.text
      %td= exam.level
      %td= exam.points
      -if exam.id != @exam_answer[i]

        -if @access_adv.z10 && exam.level == "Zaawansowany" 
          %td= link_to 'Podejdź do egzaminu', new_exam_answer_path(exam.id)
        - elsif @access_beg.p10 && exam.level == "Początkujący" 
          %td= link_to 'Podejdź do egzaminu', new_exam_answer_path(exam.id)
        - else
          %td Ukończ najpierw do poziomu odpowiedni kurs!
      -else
        %td Już ukończyłeś ten egzamin
    - i = i+1
%br
%div{:align => "center"}
  = paginate @exams 

%br