%h1 Lista egzaminów

%table.table
  %tr
    %th Tytuł
    %th Opis
    %th Poziom
    %th Ilość punktów
    %th Podejdź do egzaminu


  - @exams.each do |exam|
    %tr
      %td= exam.title
      %td= exam.text
      %td= exam.level
      %td= exam.points
      -if @access_adv.zaawansowany && exam.level == "Zaawansowany"
        %td= link_to 'Podejdź do egzaminu', take_exam_path(exam.id)
      - elsif @access_beg.poczatkujacy && exam.level == "Początkujący"
        %td= link_to 'Podejdź do egzaminu', take_exam_path(exam.id)
      - else
        %td Ukończ najpierw do poziomu odpowiedni kurs!



%br