%h1 Lista egzaminów

%table.table
  %tr
    %th Tytuł
    %th Opis
    %th Poziom
    %th Pytanie 1
    %th Pytanie 2
    %th Pytanie 3
    %th Pytanie 4
    %th Pytanie 5
    %th Pytanie 6
    %th Pytanie 7
    %th Pytanie 8
    %th Pytanie 9
    %th Pytanie 10
    %th Ilość punktów
    %th
    %th
    %th

  - @exams.each do |exam|
    %tr
      %td= exam.title
      %td= exam.text
      %td= exam.level
      %td= @question_text.find(exam.question1).text
      %td= @question_text.find(exam.question2).text
      %td= @question_text.find(exam.question3).text
      %td= @question_text.find(exam.question4).text
      %td= @question_text.find(exam.question5).text
      %td= @question_text.find(exam.question6).text
      %td= @question_text.find(exam.question7).text
      %td= @question_text.find(exam.question8).text
      %td= @question_text.find(exam.question9).text
      %td= @question_text.find(exam.question10).text
      %td= exam.points
      %td= link_to 'Pokaż', exam
      %td= link_to 'Edytuj', edit_exam_path(exam)
      %td= link_to 'Usuń', exam, :method => :delete, :data => { :confirm => 'Czy na pewno?' }

%br
%div{:align => "center"}
  = paginate @exams 
%br
= link_to 'Nowy egzamin', new_exam_path
