

%p
  %b Tytuł:
  = @exam.title
%p
  %b Opis:
  = @exam.text
%p
  %b Poziom:
  = @exam.level
%p
  %b Pytanie 1:
  %br
  = @question_text.find(@exam.question1).text
%p
  %b Pytanie 2:
  %br
  = @question_text.find(@exam.question2).text
%p
  %b Pytanie 3:
  %br
  = @question_text.find(@exam.question3).text
%p
  %b Pytanie 4:
  %br
  = @question_text.find(@exam.question4).text
%p
  %b Pytanie 5:
  %br
  = @question_text.find(@exam.question5).text
%p
  %b Pytanie 6:
  %br
  = @question_text.find(@exam.question6).text
%p
  %b Pytanie 7:
  %br
  = @question_text.find(@exam.question7).text
%p
  %b Pytanie 8:
  %br
  = @question_text.find(@exam.question8).text
%p
  %b Pytanie 9:
  %br
  = @question_text.find(@exam.question9).text
%p
  %b Pytanie 10:
  %br
  = @question_text.find(@exam.question10).text
%p
  %b Ilość punktów:
  = @exam.points

= link_to 'Edit', edit_exam_path(@exam)
\|
= link_to 'Back', exams_path
