.navbar.navbar-inverse.navbar-static-top
  %btn.btn-navbar{ "data-toggle" => "collapse", "data-target" => ".navbar-collapse"}
    %span3.icon-bar
    %span.icon-bar
    %span.icon-bar
  %a.navbar-brand{:href => '/'}= 'First Aid E-learn'
  
  %ul.nav.navbar-nav
    %li
      %li= link_to 'Podejdź do egzaminu ', exam_list_path
    - if current_user.try(:instructor?)
      %li
        %li= link_to 'Nowe pytanie', new_question_path

      %li    
        %li= link_to 'Lista pytań', questions_path
    - if current_user.try(:admin?)
      %li    
        %li= link_to 'Nowy egzamin', new_exam_path

      %li    
        %li= link_to 'Lista egzaminów', exams_path



  %ul.nav.navbar-nav.pull-right
    

      
      
    

    - if user_signed_in?

      %li= link_to current_user.try(:name), edit_user_registration_path
      %li= link_to 'Wyloguj', destroy_user_session_path, :method => :delete
    - else
      
      %li= link_to 'Logowanie', new_user_session_path
      %li= link_to 'Rejestracja', new_user_registration_path

