<!DOCTYPE html>
<html>
<head>
  <title>FirstAidElearn</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= csrf_meta_tags %>

</head>
<body>
   <div id="wrap">
    <%= render :partial => 'layouts/header' %>

      <p class="notice" style="text-align:center"><%= notice %></p>


      <%= yield %>

       <div id="push"></div>
  </div>
  
<div align= "center">
  <%= render :partial => 'layouts/footer' %>
</div>

</body>